$fa-font-path: "./fontawesome/webfonts";
$main-font: 'Roboto', sans-serif;

$lightGrey: #bdbdbd;

$primaryColor: #FFF;
$primaryDarkColor: #CCC;
$primaryLightColor: #AAA;
$primaryText: #42b983;
$secondaryText: black;
$accentColor: #4caf50;
$create: #4caf50;
$delete: #f44336;
$update: #008CBA;
