$fa-font-path: "./fontawesome/webfonts";
$main-font: 'Roboto', sans-serif;

$lightGrey: #a0a0a0;

$primaryColor: #FFF;
$primaryDarkColor: #000;
$primaryLightColor: #e1e1e1;
$primaryText: black;
$secondaryText: #FFF;
$accentColor: #4caf50;
$create: #4caf50;
$delete: #e74c3c;
$update: #008CBA;
$capri: #f7ca18;
