@import url('https://fonts.googleapis.com/css?family=Open+Sans:light,regular,medium,thin,italic,mediumitalic,bold"');
@import url('https://fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold"');

@import '_variable.scss';

@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";

.input {
  border: 1px solid $lightGrey;
  padding: 5px;

  border-radius: 3px;
  outline-width: 0;
  min-height: 20px;
  margin: 3px;
  &:focus {
    box-shadow: 0 0 1px 1px $accentColor;
  }
}

.button {
  cursor: pointer;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: aliceblue;
}
.button.create {
  background-color: $create;
}
.button.update {
  background-color: $update;
}
.button.delete {
  background-color: $delete;
}


.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.title{
  color: $primaryText;
}

.modal-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px 30px;
  background-color: $primaryColor;
  // Allow to center the modal
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all .3s ease;

}
.modal-mask {
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-default-button {
  float: right;
}

.modal-header {
  //f
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
